*.class

# Package Files #
*.war
*.ear
*.tmp
*.bak
*.swp
*~.nib

*dist/
*build/
*test/
*/nbproject/private/
*/nbproject/ant-deploy.xml
*/nbproject/build-impl.xml
*/nbproject/genfiles.properties
*/nbproject/rest-build.xml